shamefully-hoist=true
strict-peer-dependencies=false
# Auth: checks $NODE_AUTH_TOKEN env var first, falls back to ~/.npmrc
# Alternatively, copy these two lines to ~/.npmrc and fill in the auth token
@interline-io:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}