$primary: #8c67ef;
$link: $primary;
$duration: 1000ms;

@use "bulma/sass" with (
    $family-primary: '"Nunito", sans-serif',
    $primary: $primary,
    $link: $link,
);

.tooltip-trigger {
    border: none;
}

.message .media-content{
    overflow: visible !important; /* so datetime picker isn't hidden */
}