$primary: #8c67ef;
$link: $primary;
$duration: 1000ms;

@use "bulma/sass" with (
    $family-primary: '"Nunito", sans-serif',
    $primary: $primary,
    $link: $link,
);

// Sidebar styles (previously from @oruga-ui/theme-bulma)
.sidebar {
    .sidebar-content {
        position: fixed;
        z-index: 40;
        background-color: var(--bulma-background);
        box-shadow: var(--bulma-shadow);

        &.is-left {
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
        }

        &.is-right {
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
        }

        &.is-fullheight {
            height: 100%;
        }

        &.is-mini,
        &.is-reduced {
            width: 80px;
        }
    }
}

.tooltip-trigger {
    border: none;
}

.message .media-content{
    overflow: visible !important; /* so datetime picker isn't hidden */
}

// Tooltip fixes
.t-tooltip::after {
    text-transform: none; // Prevent inheriting text-transform from parent elements (e.g., menu-label)
    font-weight: normal; // Reset font weight that might be inherited
}